@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization
@model Skoruba.IdentityServer4.STS.Identity.ViewModels.Account.RegisterViewModel

@{
    Layout = "_SimyanfarLayout";
    ViewData["Title"] = Localizer["Title"];
}

<div class="container">
    <div class="page-header">
        <img src='@Url.Content("~/images/logo-simyanfar.png")' />
    </div>

    <div class="card mt-3">
        <div class="card-header">
            <h2>@ViewData["Title"]</h2>
            <h4>@Localizer["SubTitle"]</h4>
        </div>

        <div class="card-body">
            @await Html.PartialAsync("_ValidationSummary")

            <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                <div class="form-group">
                    <label asp-for="UserName" class="control-label">@Localizer["UserName"]</label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label">@Localizer["Email"]</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label">@Localizer["Password"]</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label">@Localizer["ConfirmPassword"]</label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary btn-block">@Localizer["Button"]</button>
            </form>
        </div>
    </div>
</div>
